<input type="text" [(ngModel)]="title">
{{ title }}

<input type="text" [(ngModel)]="power">
{{ power | exponential }}
<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">este es nicolas</p>
  <p *ngSwitchCase="'julian'">este es Julian</p>
  <p *ngSwitchCase="'camilo'">este es camilo</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length == 0"> Lista en 0</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{i}} 
    <button (click) = "deleteItem(i)"> delete </button>
  </li>
</ul>
